{{!-- Flags --}}
<div class="form-group">
  <label class="header">{{localize "D35E.CheckFlags"}}</label>
  <div class="buff-flags">
    <label class="checkbox">
      <input type="checkbox" name="system.changeFlags.loseDexToAC" {{checked data.system.changeFlags.loseDexToAC}}/> {{localize "D35E.ChangeFlagLoseDexToAC"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="system.changeFlags.uncannyDodge" {{checked data.system.changeFlags.uncannyDodge}}/> {{localize "D35E.UncannyDodge"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="system.changeFlags.noDex" {{checked data.system.changeFlags.noDex}}/> {{localize "D35E.ChangeFlagNoDex"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="system.changeFlags.noStr" {{checked data.system.changeFlags.noStr}}/> {{localize "D35E.ChangeFlagNoStr"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="system.changeFlags.noCon" {{checked data.system.changeFlags.noCon}}/> {{localize "D35E.ChangeFlagNoCon"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="system.changeFlags.noInt" {{checked data.system.changeFlags.noInt}}/> {{localize "D35E.ChangeFlagNoInt"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="system.changeFlags.oneInt" {{checked data.system.changeFlags.oneInt}}/> {{localize "D35E.ChangeFlagOneInt"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="system.changeFlags.oneWis" {{checked data.system.changeFlags.oneWis}}/> {{localize "D35E.ChangeFlagOneWis"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="system.changeFlags.oneCha" {{checked data.system.changeFlags.oneCha}}/> {{localize "D35E.ChangeFlagOneCha"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="system.changeFlags.noEncumbrance" {{checked data.system.changeFlags.noEncumbrance}}/> {{localize "D35E.ChangeFlagDwarflikeEncumbrance"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="system.changeFlags.mediumArmorFullSpeed" {{checked data.system.changeFlags.mediumArmorFullSpeed}}/> {{localize "D35E.ChangeFlagMediumArmorFullSpeed"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="system.changeFlags.heavyArmorFullSpeed" {{checked data.system.changeFlags.heavyArmorFullSpeed}}/> {{localize "D35E.ChangeFlagHeavyArmorFullSpeed"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="system.changeFlags.multiAttack" {{checked data.system.changeFlags.multiAttack}}/> {{localize "D35E.ChangeFlagMultiAttack"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="system.changeFlags.multiweaponAttack" {{checked data.system.changeFlags.multiweaponAttack}}/> {{localize "D35E.ChangeFlagMultiweaponAttack"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="system.changeFlags.hasted" {{checked data.system.changeFlags.hasted}}/> {{localize "D35E.ChangeFlagHasted"}}
    </label>
    <label class="checkbox">
      <input type="checkbox" name="system.changeFlags.firstChangeTargetSelectableOnDescription" {{checked data.system.changeFlags.firstChangeTargetSelectableOnDescription}}/> {{localize "D35E.firstChangeTargetSelectableOnDescription"}}
    </label>
  </div>
</div>

<div class="form-group">
  <div class="form-group">
    <label>{{localize "D35E.Size"}}</label>
    <select class="actor-size" name="system.sizeOverride">
      <option value="">None</option>
      {{#select data.system.sizeOverride}}
      {{#each config.actorSizes as |label size|}}
      <option value="{{size}}">{{label}}</option>
      {{/each}}
      {{/select}}
    </select>
  </div>
</div>

<div class="form-group">
  <label>Counter</label>
  <input class="bordered" type="text" name="system.counterName" value="{{data.system.counterName}}" data-dtype="String"/>
</div>

<div>
  {{!-- Changes --}}
  <h3 class="form-header">
    {{localize "D35E.Changes"}}
    <a class="change-control add-change" style="font-size: 15px; line-height: 15px;"><i class="fas fa-plus"></i></a>
  </h3>
  <ol class="changes form-group">
    {{#each data.system.changes as |change a|}}
    <li class="change flexrow" data-change="{{a}}">
      <input type="text" name="system.changes.{{a}}.0" value="{{lookup this "0"}}"
                                                     placeholder="{{localize "D35E.Formula"}}" />
      <select name="system.changes.{{a}}.1">
        {{#select (lookup this "1") }}
        <option value="">{{localize "D35E.None"}}</option>
        {{#each ../changes.targets as |target type|}}
        <option value="{{type}}">{{target}}</option>
        {{/each}}
        {{/select}}
      </select>
      <select name="system.changes.{{a}}.2">
        {{#select (lookup this "2") }}
        {{#each subTargets as |target type|}}
        <option value="{{type}}">{{target}}</option>
        {{/each}}
        {{/select}}
      </select>
      <select name="system.changes.{{a}}.3">
        {{#select (lookup this "3") }}
        {{#each ../changes.modifiers as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
      </select>
      <a class="change-control delete-change"><i class="fas fa-minus"></i></a>
    </li>
    {{/each}}
    {{#unless data.system.changes}}
    <li class="change flexrow">
      <div style="width: 100%; opacity: 0.7; text-align: center">{{localize "D35E.ThereAreNo"}} {{localize "D35E.Changes"}}. {{{localize "D35E.UsePlusToAdd"}}}</div>
    </li>
    {{/unless}}
  </ol>

</div>
<div>
{{#if hasCombatChanges}}
  {{!-- Changes --}}
  <h3 class="form-header">
    {{localize "D35E.CombatChangesSettings"}}
  </h3>
  <div class="form-group uses-per">
    <label>{{localize "D35E.CustomName"}}</label>
    <input type="text" name="system.combatChangeCustomDisplayName" value="{{data.system.combatChangeCustomDisplayName}}" placeholder="{{localize "D35E.LeaveEmptyForItemName"}}"/>
  </div>
  <div class="form-group uses-per">
    <label>{{localize "D35E.CustomReferenceName"}}</label>
    <input type="text" name="system.combatChangeCustomReferenceName" value="{{data.system.combatChangeCustomReferenceName}}" placeholder="{{localize "D35E.LeaveEmptyForItemName"}}"/>
  </div>
  <div class="form-group uses-per">
    <label>{{localize "D35E.MaximumRange"}}</label>
    <input type="text" value="{{data.system.combatChangesRange.max}}" disabled data-dtype="Number"/>
  </div>
  <div class="form-group uses-per">
    <label>{{localize "D35E.MaximumRangeFormula"}}</label>
    <input type="text" name="system.combatChangesRange.maxFormula" value="{{data.system.combatChangesRange.maxFormula}}" placeholder="{{localize "D35E.MaximumRangeFormula"}}"/>
  </div>
  <em>{{localize "D35E.RangeSliderAbout"}}</em>

  <div class="form-group">
    <label>{{localize "D35E.AdditionalSliders"}}</label>
    <label class="checkbox" style="position: relative; flex: 0 20px">
      <input type="checkbox" class="stylized" name="system.combatChangesAdditionalRanges.hasAdditionalRanges" {{checked data.system.combatChangesAdditionalRanges.hasAdditionalRanges}}/>
      <span class="checkmark"></span>
    </label>
  </div>

  {{#if data.system.combatChangesAdditionalRanges.hasAdditionalRanges}}

  <strong>{{localize "D35E.Slider"}} 1</strong>
  <div class="form-group uses-per">
    <label>{{localize "D35E.Name"}} <em style="opacity: 0.9; font-weight: 500">({{localize "D35E.RangeSliderAccessWith"}}1)</em></label>
    <input type="text" name="system.combatChangesAdditionalRanges.slider1.name" value="{{data.system.combatChangesAdditionalRanges.slider1.name}}" />
  </div>
  <div class="form-group uses-per">
    <label>{{localize "D35E.MaximumRange"}}</label>
    <input type="text" value="{{data.system.combatChangesAdditionalRanges.slider1.max}}" disabled data-dtype="Number"/>
  </div>
  <div class="form-group uses-per">
    <label>{{localize "D35E.MaximumRangeFormula"}}</label>
    <input type="text" name="system.combatChangesAdditionalRanges.slider1.maxFormula" value="{{data.system.combatChangesAdditionalRanges.slider1.maxFormula}}" placeholder="{{localize "D35E.MaximumRangeFormula"}}"/>
  </div>
  <strong>{{localize "D35E.Slider"}}2</strong>
  <div class="form-group uses-per">
    <label>{{localize "D35E.Name"}} <em style="opacity: 0.9; font-weight: 500">({{localize "D35E.RangeSliderAccessWith"}}2)</em></label>
    <input type="text" name="system.combatChangesAdditionalRanges.slider2.name" value="{{data.system.combatChangesAdditionalRanges.slider2.name}}"/>
  </div>
  <div class="form-group uses-per">
    <label>{{localize "D35E.MaximumRange"}}</label>
    <input type="text" value="{{data.system.combatChangesAdditionalRanges.slider2.max}}" disabled data-dtype="Number"/>
  </div>
  <div class="form-group uses-per">
    <label>{{localize "D35E.MaximumRangeFormula"}}</label>
    <input type="text" name="system.combatChangesAdditionalRanges.slider2.maxFormula" value="{{data.system.combatChangesAdditionalRanges.slider2.maxFormula}}" placeholder="{{localize "D35E.MaximumRangeFormula"}}"/>
  </div>
  <strong>{{localize "D35E.Slider"}} 3</strong>
  <div class="form-group uses-per">
    <label>{{localize "D35E.Name"}} <em style="opacity: 0.9; font-weight: 500">({{localize "D35E.RangeSliderAccessWith"}}3)</em></label>
    <input type="text" name="system.combatChangesAdditionalRanges.slider3.name" value="{{data.system.combatChangesAdditionalRanges.slider3.name}}"/>
  </div>
  <div class="form-group uses-per">
    <label>{{localize "D35E.MaximumRange"}}</label>
    <input type="text" value="{{data.system.combatChangesAdditionalRanges.slider3.max}}" disabled data-dtype="Number"/>
  </div>
  <div class="form-group uses-per">
    <label>{{localize "D35E.MaximumRangeFormula"}}</label>
    <input type="text" name="system.combatChangesAdditionalRanges.slider3.maxFormula" value="{{data.system.combatChangesAdditionalRanges.slider3.maxFormula}}" placeholder="{{localize "D35E.MaximumRangeFormula"}}"/>
  </div>
  {{/if}}

  <div class="form-group uses-per">
    <label>{{localize "D35E.ChargesToDeduct"}}</label>
    <select name="system.combatChangesUsesCost">
      {{#select data.system.combatChangesUsesCost }}
      <option value="chargesPerUse">{{localize "D35E.ChargesToDeduct"}}</option>
      <option value="range">{{localize "D35E.CombatChangesRange"}}</option>
      {{/select}}
    </select>
  </div>

  <div class="form-group">
    <label>{{localize "D35E.ApplySpecialActionsOnce"}}</label>
    <label class="checkbox" style="position: relative; flex: 0 20px">
      <input type="checkbox" class="stylized" name="system.combatChangesApplySpecialActionsOnce" {{checked data.system.combatChangesApplySpecialActionsOnce}}/>
      <span class="checkmark"></span>
    </label>
  </div>

  <h4 class="change-header">
    {{localize "D35E.CombatChanges"}}
    <a class="combat-change-control add-change"><i class="fas fa-plus"></i></a>
  </h4>
  <ol class="changes form-group">
    {{#each data.system.combatChanges as |change a|}}
    <li class="change flexcol" data-change="{{a}}" style="border-left: 2px solid rgba(0,0,0,0.2); padding-left: 0.5rem; margin-bottom: 0.5rem;">
      <div class="form-group" style="width: 100%; margin: 0">
        <label>{{localize "D35E.ActionType"}}</label>
        <select name="system.combatChanges.{{a}}.0" style="flex: 0 0 240px">
        {{#select (lookup this "0") }}
        {{#each ../config.combatChangeType as |name type|}}
        <option value="{{type}}">{{localize name}}</option>
        {{/each}}
        {{/select}}
      </select>
      </div>

      <div class="form-group" style="width: 100%; margin: 0">
        <label>{{localize "D35E.SubActionType"}}</label>
        <select name="system.combatChanges.{{a}}.1" style="flex: 0 0 240px">
          {{#select (lookup this "1") }}
          <option value="">{{localize "D35E.All"}}</option>
          {{#each ../config.itemActionTypes as |name type|}}
            <option value="{{type}}">{{localize name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>
      <div class="form-group" style="width: 100%; margin: 0">
        <label>{{localize "D35E.Condition"}} </label>
      <input  class="bordered" type="text" name="system.combatChanges.{{a}}.2" value="{{lookup this "2"}}"
      placeholder="{{localize "D35E.Condition"}} {{localize "D35E.Formula"}}" />

      </div>

      <div class="form-group {{#if change.errorNoDynamicChange}}tooltip{{/if}}" style="width: 100%; margin: 0">
        <label class="">
          {{localize "D35E.ModifiedField"}}
        </label>

      <input class="bordered {{#if change.errorNoDynamicChange}}invalid{{/if}}"  type="text" name="system.combatChanges.{{a}}.3" value="{{lookup this "3"}}"
      placeholder="{{localize "D35E.ModifiedFieldPlaceholder"}}" list="combatChangesFieldsList" />
        {{#if change.errorNoDynamicChange}}
        <div class="tooltipcontent">
          {{localize "D35E.ModifiedFormulaNeedsAmpersand"}}
        </div>
        {{/if}}
      </div>

      <div class="form-group" style="width: 100%; margin: 0">
        <label>{{localize "D35E.ModificationFormula"}}
        </label>
      <input class="bordered" type="text" name="system.combatChanges.{{a}}.4" value="{{lookup this "4"}}"
      placeholder="{{localize "D35E.ModificationFormula"}} {{localize "D35E.Formula"}}" />
      </div>


      <div class="form-group" style="width: 100%; margin: 0">
        <label>{{localize "D35E.SpecialAction"}}</label>
        <input class="bordered" type="text" name="system.combatChanges.{{a}}.5" value="{{lookup this "5"}}"
        placeholder="{{localize "D35E.SpecialAction"}}" />
      </div>


      <div class="form-group" style="width: 100%; margin: 0">
        <label>{{localize "D35E.SpecialAction"}} {{localize "D35E.Apply"}} {{localize "D35E.Condition"}}</label>
        <input class="bordered" type="text" name="system.combatChanges.{{a}}.6" value="{{lookup this "6"}}"
        placeholder="{{localize "D35E.Condition"}}" />
      </div>

      <div class="form-group" style="width: 100%; margin: 0">
      <a style="flex: 1" class="combat-change-control delete-change">Remove <i class="fas fa-minus"></i></a>
      </div>
    </li>
    {{/each}}
    <datalist id="combatChangesFieldsList">
      <option value="featAttackBonus">Attack - Bonus bonus to Base Attack</option>
      <option value="featCritConfirmBonus">Attack - Critical Confirmation - Static bonus</option>
      <option value="featDamageBonus">Attack - Bonus to Base Damage (Crit affected, rolled once)</option>
      <option value="&featDamagePrecision">Attack - Precision Damage Bonus</option>
      <option value="&featDamage.">Attack - Any type Damage Bonus</option>
      <option value="featAdditionalAttacksBAB">Attack - Bonus Atttacks at BAB</option>
      <option value="featAC">Defense - Static bonus</option>
      <option value="featSavingThrow">Saving Throw - Static bonus</option>
      <option value="featGrapple">Grapple - Static bonus</option>
      <option value="featSkillBonus">Skill - Static bonus</option>
      <option value="featClBonus">Caster Level - Static bonus</option>
      <option value="featSpellDCBonus">Spell DC - Static bonus</option>
      <option value="featResistanceBonus">Spell Resistance - Static bonus</option>
      <option value="featSpellPenetrationBonus">Spell Penetration Bonus - Static bonus</option>
    </datalist>
    {{#unless data.system.combatChanges}}
    <li class="change flexrow">
      <div style="width: 100%; opacity: 0.7; text-align: center">{{localize "D35E.ThereAreNo"}} {{localize "D35E.CombatChanges"}}. {{{localize "D35E.UsePlusToAdd"}}}</div>
    </li>
    {{/unless}}
  </ol>
  {{/if}}
</div>
<div>
  {{#if hasRequirements}}
  {{!-- Requirements --}}
  <h3 class="form-header">
    {{localize "D35E.Requirements"}}
    <a class="requirement-control add-change" style="font-size: 15px; line-height: 15px;"><i class="fas fa-plus"></i></a>
  </h3>
  <ol class="changes form-group">
    {{#each data.system.requirements as |change a|}}
    <li class="change flexrow" data-change="{{a}}">
      <input type="text" name="system.requirements.{{a}}.0" value="{{lookup this "0"}}"
      placeholder="{{localize "D35E.Name"}}" />
      <input type="text" name="system.requirements.{{a}}.1" value="{{lookup this "1"}}"
      placeholder="{{localize "D35E.Formula"}}" />
      <select name="system.requirements.{{a}}.2">
        {{#select (lookup this "2") }}
        <option value="">{{localize "D35E.None"}}</option>
        {{#each ../config.requirements as |requirement type|}}
        <option value="{{type}}">{{requirement}}</option>
        {{/each}}
        {{/select}}
      </select>
      <a class="requirement-control delete-change"><i class="fas fa-minus"></i></a>
    </li>
    {{/each}}
    {{#unless data.system.requirements}}
    <li class="change flexrow">
      <div style="width: 100%; opacity: 0.7; text-align: center">{{localize "D35E.ThereAreNo"}} {{localize "D35E.Requirements"}}. {{{localize "D35E.UsePlusToAdd"}}}</div>
    </li>
    {{/unless}}
  </ol>
  {{/if}}
</div>
<div>
  {{!-- Changes --}}
  <h3 class="form-header">
    {{localize "D35E.Resistances"}}
    <a class="resistance-control add-change" style="font-size: 15px; line-height: 15px;"><i class="fas fa-plus"></i></a>
  </h3>
  <ol class="changes form-group">
    {{#each data.system.resistances as |change a|}}
    <li class="change flexrow" data-change="{{a}}">
      <input type="text" name="system.resistances.{{a}}.0" value="{{lookup this "0"}}"
      placeholder="{{localize "D35E.Formula"}}" />
      <select name="system.resistances.{{a}}.1">
        {{#select (lookup this "1") }}
        <option value="">{{localize "D35E.None"}}</option>
        {{#each ../energyDamageTypes as |damage type|}}
        <option value="{{damage.uid}}">{{damage.name}}</option>
        {{/each}}
        {{/select}}
      </select>
      <label class="checkbox">
        <input type="checkbox" name="system.resistances.{{a}}.2" {{checked (lookup this "2")}}/> {{ localize "D35E.Immunity" }}
      </label>
      <label class="checkbox">
        <input type="checkbox" name="system.resistances.{{a}}.3" {{checked (lookup this "3")}}/> {{ localize "D35E.Vulnerability" }}
      </label>
      <label class="checkbox">
        <input type="checkbox" name="system.resistances.{{a}}.4" {{checked (lookup this "4")}}/> {{ localize "D35E.Half" }}
      </label>
      <a class="resistance-control delete-change"><i class="fas fa-minus"></i></a>
    </li>
    {{/each}}
    {{#unless data.system.resistances}}
    <li class="change flexrow">
      <div style="width: 100%; opacity: 0.7; text-align: center">{{localize "D35E.ThereAreNo"}} {{localize "D35E.Resistances"}}. {{{localize "D35E.UsePlusToAdd"}}}</div>
    </li>
    {{/unless}}
  </ol>
</div>
<div>
  {{!-- Changes --}}
  <h3 class="form-header">
    {{localize "D35E.DR"}}
    <a class="dr-control add-change" style="font-size: 15px; line-height: 15px;"><i class="fas fa-plus"></i></a>
  </h3>
  <ol class="changes form-group">
    {{#each data.system.damageReduction as |change a|}}
    <li class="change flexrow" data-change="{{a}}">
      <input type="text" name="system.damageReduction.{{a}}.0" value="{{lookup this "0"}}"
      placeholder="{{localize "D35E.Formula"}}" />
      <select name="system.damageReduction.{{a}}.1">
        {{#select (lookup this "1") }}
        <option value="">{{localize "D35E.None"}}</option>
        {{#each ../baseDamageTypes as |damage type|}}
        <option value="{{damage.uid}}">{{damage.name}}</option>
        {{/each}}
        {{/select}}
      </select>
      <label class="checkbox">
        <input type="checkbox" name="system.damageReduction.{{a}}.2" {{checked (lookup this "2")}}/> {{ localize "D35E.Immunity" }}
      </label>
      <a class="dr-control delete-change"><i class="fas fa-minus"></i></a>
    </li>
    {{/each}}
    {{#unless data.system.damageReduction}}
    <li class="change flexrow">
      <div style="width: 100%; opacity: 0.7; text-align: center">{{localize "D35E.ThereAreNo"}} {{localize "D35E.DR"}}. {{{localize "D35E.UsePlusToAdd"}}}</div>
    </li>
    {{/unless}}
  </ol>
</div>
<div>
  {{!-- Creation Changes --}}
  <h3 class="form-header">
    {{localize "D35E.CreationChanges"}}
    <a class="creation-changes-control add-change" style="font-size: 15px; line-height: 15px;"><i class="fas fa-plus"></i></a>
  </h3>
  <ol class="changes form-group">
    {{#each data.system.creationChanges as |change a|}}
    <li class="change flexrow" data-change="{{a}}">

      <select name="system.creationChanges.{{a}}.0">
        {{#select (lookup this "0") }}
        <option value="">{{localize "D35E.None"}}</option>
        {{#each ../fieldList as |field|}}
        <option value="{{field}}">{{field}}</option>
        {{/each}}
        {{/select}}
      </select>
      <input type="text" name="system.creationChanges.{{a}}.1" value="{{lookup this "1"}}"
      placeholder="{{localize "D35E.Formula"}}" />
      <a class="creation-changes-control delete-change"><i class="fas fa-minus"></i></a>
    </li>
    {{/each}}
    {{#unless data.system.creationChanges}}
    <li class="change flexrow">
      <div style="width: 100%; opacity: 0.7; text-align: center">{{localize "D35E.ThereAreNo"}} {{localize "D35E.CreationChanges"}}. {{{localize "D35E.UsePlusToAdd"}}}</div>
    </li>
    {{/unless}}
  </ol>
</div>
<div>
  <h3 class="form-header">
    {{localize "D35E.Other"}}
  </h3>
  <div class="form-group">
    <label>Custom Tag</label>
    <input type="text" name="system.customTag" value="{{data.system.customTag}}" data-dtype="String"/>
  </div>
</div>
