<form class="D35E {{cssClass}}" autocomplete="off">
  <button type="submit" disabled style="display: none" aria-hidden="true"></button>

  <!-- HEADER -->
  <header class="sheet-header flexrow">
    <h1 class="charname">
      <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "D35E.ls.lootName"}}" />
    </h1>

    {{#if isGM}}
    <div class="charbutton" style="flex: 0">
      <button class="group-items" type="group-items" name="group-items" value=""><i class="fa fa-broom default"></i></button>
    </div>
    <div class="charbutton">
      <button class="identify-all" type="identify-all" name="identify-all" value=""><i class="fa fa-eye"></i> {{localize "D35E.ls.identifyAll"}}</button>
    </div>
    <div class="charbutton">
      <button class="unidentify-all" type="unidentify-all" name="unidentify-all" value=""><i class="fa fa-eye-slash default"></i> {{localize "D35E.ls.unidentifyAll"}}</button>
    </div>
    {{#ifeq lootsheettype "Merchant"}}
    <div class="charbutton">
      <button class="price-modifier" type="price-modifier" name="price-modifier" value=""><i class="fa fa-balance-scale"></i> {{localize "D35E.ls.priceModifierTitle"}}</button>
    </div>
    {{/ifeq}}
    {{#ifeq lootsheettype "Loot"}}
    <div class="charbutton">
      <button class="convert-loot" type="convert-loot" name="convert-loot" value=""><i class="fa fa-coins"></i> {{localize "D35E.ls.convertLootTitle"}}</button>
    </div>
    {{/ifeq}}
    {{/if}}

  </header>

  <section class="sheet-lower flexrow">

    <!-- SIDEBAR -->
    <section class="sheet-sidebar sidebar">
      <div class="sheet-profile-img">
        {{#if isGM}}<img class="sheet-profile-small" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />{{/if}}
        {{#unless isGM}}<img class="sheet-profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />{{/unless}}
      </div>
      {{#if isGM}} {{> "systems/D35E/templates/actors/npc-sheet-gmpart.html"}} {{/if}}
    </section>

    <!-- BODY -->
    <section class="sheet-content content">
      {{#unless actor.visible}}
      <span class="warning">{{localize "D35E.ls.noAccesToSheet"}}</span>
      {{/unless}}

      {{#if actor.visible}}
      <div class="flexcol active">
        <nav class="sheet-navigation tabs" data-group="primary">
          {{#ifeq lootsheettype "Merchant"}}
          <a class="item active" data-tab="inventory">{{localize "D35E.ls.buy"}}</a>
          {{/ifeq}}
          {{#ifeq lootsheettype "Loot"}}
          <a class="item active" data-tab="inventory">{{localize "D35E.ls.inventory"}}</a>
          {{/ifeq}}
          {{#ifeq lootsheettype "Merchant"}}
          {{#if hasPlayerCharacter}}
          {{#unless isPatreonEnabled}}
          <a class="item header-button tooltip grayed">
            <span class="tooltipcontent">{{localize "D35E.patreonLocked"}}</span>
            {{localize "D35E.ls.sell"}}
            <i class="fas fa-lock"></i>
          </a>
          {{else}}
          <a class="item header-button" data-tab="player-inventory">
            {{localize "D35E.ls.sell"}}
          </a>
          {{/unless}}
          {{/if}}
          {{/ifeq}}
          <a class="item" data-tab="biography">{{localize "D35E.ls.biography"}}</a>
        </nav>
        <section class="primary-body">

          <div class="tab biography" data-tab="biography" data-group="primary">
            {{editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable}}
          </div>
          <div class="tab inventory active" data-tab="inventory" data-group="primary">

            <!-- FEATURES -->
            <div class="features" data-group="primary" data-tab="features">
            {{#ifeq lootsheettype "Loot"}}
            <div class="inventory-filters" style="height: 64px;">
              <ol class="currency flexrow">
                <h3>
                  {{localize "D35E.Currency"}}
                </h3>
                {{#each system.currency as |v k|}}
                <label class="denomination {{k}}">{{ lookup ../config.currencies k }}</label>
                <input type="text" name="data.currency.{{k}}" value="{{v}}" data-dtype="Number"/>
                <label class="item currency-controls" data-item-id="{{k}}">
                  {{#if ../canAct}}
                  {{#unless ../../isGM}}
                  <a class="currency-controls item-control item-loot" title="{{localize "D35E.ls.lootCoins"}}"><i class="fas fa-gem"></i></a>
                  {{/unless}}
                  {{/if}}
                </label>
                {{/each}}
              </ol>
              <ol class="currency flexrow">
                <h3>
                  {{localize "D35E.WeightlessCurrency"}}
                </h3>
                {{#each system.altCurrency as |v k|}}
                <label class="denomination {{k}}">{{ lookup ../config.currencies k }}</label>
                <input type="text" name="data.altCurrency.{{k}}" value="{{v}}" data-dtype="Number"/>
                <label class="item currency-controls" data-item-id="wl_{{k}}">
                  {{#if ../canAct}}
                  {{#unless ../../isGM}}
                  <a class="currency-controls item-control item-loot" title="{{localize "D35E.ls.lootCoins"}}"><i class="fas fa-gem"></i></a>
                  {{/unless}}
                  {{/if}}
                </label>
                {{/each}}
              </ol>
            </div>
            {{/ifeq}}
            <ul class="inventory-list">
              {{#each actor.itemGroups as |section sid|}}
              <li class="inventory-header flexrow">
                <h3 class="item-name flexrow">{{section.label}}</h3>
                {{#if ../isGM}}
                <div class="item-detail item-identified"><i class="icon icon-quill-ink large" title="{{localize "D35E.Identified"}}"></i></div>
                {{/if}}
                <div class="item-detail item-weight"><i class="icon icon-weight large" src="systems/D35E/icons/actions/weight.svg" title="{{localize "D35E.Weight"}}"></i></div>
                <div class="item-detail item-price" style="flex: 0 0 100px;"><i class="fas fa-coins large" title="{{localize "D35E.ls.price"}}"></i></div>
                <div class="item-controls">
                  {{#if ../isGM}}
                  <a class="item-control item-create" title="{{localize "D35E.ls.createItem"}}" data-type="{{section.type}}">
                  <i class="fas fa-plus"></i> {{localize "D35E.ls.add"}}
                  </a>
                  {{/if}}
                </div>
              </li>
              <ol class="item-list">
                {{#each section.items as |item iid|}}
                <li class="item flexrow" data-item-id="{{item._id}}" data-item-quantity="{{item.system.quantity}}">
                  <div class="item-name flexrow rollable">
                    <div class="item-image" style="background-image: url({{item.img}})"></div>
                    <h4 class="rollable{{#if item.empty}} strikethrough-text{{/if}}">{{ lootsheetname item.name item.system.quantity }}</h4>
                  </div>
                  {{#if ../../isGM}}
                  <div class="item-detail item-identified">
                    <a class="item-control item-identify"><span>{{{item.labels.identified}}}</span></a>
                  </div>
                  {{/if}}
                  <div class="item-detail item-weight"><span>{{ lootsheetweight item.system.quantity item.system.weight }} {{ ../../weightUnit }}</span></div>
                  <div class="item-detail item-price"><span>{{ lootsheetprice item.showPrice ../../priceModifier }}<span></div>
                  <div class="item-controls">
                    {{#ifeq ../../lootsheettype "Loot"}}
                    {{#if ../../canAct}}
                    {{#unless ../../isGM}}
                    <a class="item-control item-loot" title="{{localize "D35E.ls.lootItem"}}"><i class="fas fa-gem"></i></a>
                    {{/unless}}
                    {{/if}}
                    {{/ifeq}}

                    {{#ifeq ../../lootsheettype "Merchant"}}
                    {{#if ../../canAct}}
                    {{#unless ../../isGM}}
                    <a class="item-control blue-button item-buy" style="color: white !important; flex: initial; padding: 0 1rem;" title="{{localize "D35E.ls.buyItem"}}">{{localize "D35E.ls.buyItem"}}</a>
                    {{/unless}}
                    {{/if}}
                    {{/ifeq}}

                    {{#if ../../isGM}}
                    <a class="item-control item-visibility" title="{{localize "D35E.ls.itemToggleVisibility"}}">
                    {{#if item.flags.d35elootsheetnpc.secret}}<i class="fas fa-eye-slash"></i>{{/if}}
                    {{#unless item.flags.d35elootsheetnpc.secret}}<i class="fas fa-eye"></i>{{/unless}}
                    </a>
                    <a class="item-control item-quantity-add"><i class="fas fa-plus"></i></a>
                    <a class="item-control item-quantity-subtract"><i class="fas fa-minus"></i></a>
                    <a class="item-control item-edit" title="{{localize "D35E.ls.editItem"}}"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="{{localize "D35E.ls.deleteItem"}}"><i class="fas fa-trash"></i></a>
                    {{/if}}
                  </div>
                </li>
                {{/each}}
              </ol>
              {{/each}}
            </ul>
            </div>
          </div>


          {{#if hasPlayerCharacter}}
          <div class="tab inventory" data-tab="player-inventory" data-group="primary">

            <!-- FEATURES -->
            <div class="features" data-group="primary" data-tab="features">
            <ul class="inventory-list">
              {{#each playerItems as |section sid|}}
              <li class="inventory-header flexrow">
                <h3 class="item-name flexrow">{{section.label}}</h3>
                {{#if ../isGM}}
                <div class="item-detail item-identified"><i class="icon icon-quill-ink large" title="{{localize "D35E.Identified"}}"></i></div>
                {{/if}}
                <div class="item-detail item-weight"><i class="icon icon-weight large" src="systems/D35E/icons/actions/weight.svg" title="{{localize "D35E.Weight"}}"></i></div>
                <div class="item-detail item-price" style="flex: 0 0 100px;"><i class="fas fa-coins large" title="{{localize "D35E.ls.price"}}"></i></div>
                <div class="item-controls">
                </div>
              </li>
              <ol class="item-list">
                {{#each section.items as |item iid|}}
                <li class="item flexrow" data-item-id="{{item._id}}" data-item-quantity="{{item.system.quantity}}">
                  <div class="item-name flexrow rollable">
                    <div class="item-image" style="background-image: url({{item.img}})"></div>
                    <h4 class="rollable{{#if item.empty}} strikethrough-text{{/if}}">{{ lootsheetname item.name item.system.quantity }}</h4>
                  </div>
                  {{#if ../../isGM}}
                  <div class="item-detail item-identified">
                    <a class="item-control item-identify"><span>{{{item.labels.identified}}}</span></a>
                  </div>
                  {{/if}}
                  <div class="item-detail item-weight"><span>{{ lootsheetweight item.system.quantity item.system.weight }} {{ ../../weightUnit }}</span></div>
                  <div class="item-detail item-price"><span>{{ lootsheetprice item.showPrice ../../priceModifierBuy }}<span></div>
                  <div class="item-controls">
                    {{#ifeq ../../lootsheettype "Merchant"}}
                    {{#if ../../canAct}}
                    {{#unless ../../isGM}}
                    <a class="item-control item-sell blue-button" style="color: white !important; flex: initial; padding: 0 1rem;" title="{{localize "D35E.ls.sellItem"}}">{{localize "D35E.ls.sellItem"}}</a>
                    {{/unless}}
                    {{/if}}
                    {{/ifeq}}
                  </div>
                </li>
                {{/each}}
              </ol>
              {{/each}}
            </ul>
          </div>
            {{/if}}
      </div>


          {{#ifeq lootsheettype "Loot"}}
          <div class="form-group totals">
            <div class="item-count {{itemsWarning}}">
              <i class="fas fa-box tooltip" style="margin-right: 4px"></i> {{localize "D35E.ls.totalItems"}}:{{totalItems}} {{maxItems}}
            </div>
            <div class="item-weight {{weightWarning}}">
              <i class="fas fa-weight-hanging tooltip" style="margin-right: 4px"></i>{{localize "D35E.ls.totalWeight"}}: {{totalWeight}} {{maxWeight}} {{weightUnit}}
            </div>
            <div class="item-price" >
              <i class="fas fa-coins tooltip" style="margin-right: 4px"></i>{{localize "D35E.ls.totalPrice"}}: {{totalPrice}}
            </div>
          </div>
          {{/ifeq}}
      </div>


    </section>
    </div>
    {{/if}}
  </section>
  </section>
</form>

