<form class="{{cssClass}} flexcol" autocomplete="off">
  {{!-- Trap Sheet Header --}}
  <header class="sheet-header flexcol" style="flex-direction: column">

    <div class="flexrow" style="width: 100%">
      <h1 class="charname">
          <input name="name" style="margin: 0" type="text" value="{{actor.name}}" placeholder="{{ localize 'D35E.CharacterName' }}"
          title="{{ localize 'D35E.CharacterName' }}"/>
      </h1>
      <div class="hd" style="flex: 0 0 148px;">
        <Label>{{ localize 'D35E.FindDC' }}</label>
        <input name="system.details.findDC" type="text" value="{{system.details.findDC}}" placeholder="1"
               data-dtype="Number"/>
      </div>
      <div class="hd" style="flex: 0 0 168px;">
        <Label>{{ localize 'D35E.DisarmDC' }}</label>
        <input name="system.details.disarmDC" type="text" value="{{system.details.disarmDC}}" placeholder="1"
               data-dtype="Number"/>
      </div>
      <div class="charlevel" style="flex: 0 0 80px;">
        <div class="level">
          <label>{{ localize 'D35E.CR' }} {{labels.totalCr}}</label>
        </div>
        <div class="level" style="line-height: 14px">
          <label style="font-size: 14px;">{{ localize 'D35E.BaseCR' }}</label>
          <input name="system.details.cr" style="font-size: 14px; height: 16px" type="text" value="{{labels.cr}}" placeholder="1"/>
        </div>
        <div class="experience">
          <span>{{labels.totalExp}} {{ localize 'D35E.XP' }}</span>
        </div>
      </div>
    </div>
    <div class="flexrow" style="width: 100%">

      <div class="profile npc">
        <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>
        <img src="{{actor.system.tokenImg}}" class="token-image" data-edit="system.tokenImg">
      </div>
      <div class="header-details flexcol" style='font-family: "Signika", "Palatino Linotype", serif;'>

        <section class="attacks-body">
          <div class="inventory-group flexcol {{#if attacks.misc.initial}}active{{/if}}" data-group="attacks" data-tab="{{sid}}">
            <ol class="inventory-list sub-scroll scroll-attacks">
              <li class="inventory-header flexrow">
                <h3 class="item-name flexrow"></h3>

                {{#if attacks.misc.showTypes}}<div class="item-detail item-type"><span>{{ localize 'D35E.Type' }}</span></div>{{/if}}

                <div class="item-detail item-actions"><span>{{ localize 'D35E.ActionPlural' }}</span></div>

                <div class="item-detail item-uses"><span>{{ localize 'D35E.ChargePlural' }}</span></div>

                {{#if owner}}
                <div class="item-controls">
                  {{#if attacks.misc.canCreate}}
                  <a class="item-control item-create" title="{{ localize 'D35E.CreateItem' }}" {{#each attacks.misc.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
                  <i class="fas fa-plus"></i> {{ localize 'D35E.Add' }}
                  </a>
                  {{/if}}
                </div>
                {{/if}}
              </li>

              <ol class="item-list">
                {{#each attacks.all.items as |item iid|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                  <div class="item-name flexrow rollable {{#if item.system.melded}}melded{{/if}} {{#if item.disabled}}attack-disabled{{/if}}">
                    <div class="item-image" style="background-image: url('{{item.img}}')"></div>
                    <h4 style="font-size: 13px">
                      {{item.name~}} {{#if item.system.melded}}<i class="fas fa-leaf"></i>{{/if}}
                    </h4>
                  </div>

                  {{#if attacks.misc.showTypes}}
                  <div class="item-detail item-type">
                    <span>{{lookup ../config.attackTypes item.system.attackType}}</span>
                  </div>
                  {{/if}}

                  <div class="item-detail item-actions">
                    <div class="item-attack">
                      {{#if item.hasAction}}
                      {{#unless item.system.melded}}
                      {{#unless item.disabled}}
                      <a class="item-control item-attack"><img class="icon" src="systems/D35E/icons/actions/gladius.svg"></a>
                      {{/unless}}
                      {{/unless}}
                      {{/if}}
                      {{#if item.isFullAttack}}
                      <a class="item-control item-attack"><img class="icon" src="systems/D35E/icons/actions/gladius.svg"></a>
                      {{/if}}
                    </div>
                  </div>

                  <div class="item-detail item-uses flexrow {{#if item.isCharged}}tooltip{{/if}}">
                    {{#if item.isCharged}}
                    <input type="text" value="{{item.system.uses.value}}" data-dtype="Number"/>
                    <span class="sep"> of </span>
                    <input type="text" value="{{item.system.uses.max}}" disabled data-dtype="Number"/>
                    <span class="tooltipcontent">
              @resources.{{item.tag}}.value : {{item.system.uses.value}}<br>
              @resources.{{item.tag}}.max : {{item.system.uses.max}}
            </span>
                    {{/if}}
                  </div>

                  {{#if ../owner}}
                  <div class="item-controls">
                    <a class="item-control item-edit" title="{{ localize 'D35E.EditItem' }}"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="{{ localize 'D35E.DeleteItem' }}"><i class="fas fa-trash"></i></a>
                  </div>
                  {{/if}}

                </li>
                {{/each}}
              </ol>
            </ol>
          </div>
        </section>
      </div>
    </div>
  </header>
  <nav class="sheet-navigation">
    <a class="item active">{{ localize 'D35E.TrapDescription' }}</a>
  </nav>
  <section class="primary-body">

    {{editor content=system.details.notes.value target="system.details.notes.value" button=true owner=owner
    editable=editable}}
  </section>


</form>
